
<p>
  <strong>url:</strong>
  <%= @tao.url %>
</p>

<p>
  <strong>desc:</strong>
  <%= @tao.desc %>
</p>

<p>
  <strong>user_id:</strong>
  <%= @tao.user_id %>
</p>

<%= image_tag @tao.pic.url(:small) %>
